transformers
accelerate>=0.31.0
bitsandbytes>=0.41.3
prometheus-client
aixblock-ml
aixblock-sdk
aixblock-tools
tensorboardX
gradio
redis
rq
flask>=2.2
flask-cors
Werkzeug>=2.0
gunicorn>=20.0
colorama
lxml
appdirs
gitpython
centrifuge-python
opencv-python>=4.1.1
numpy
grafana-api
diffusers
simuleval
gitpython
ipython
nvidia-ml-py
wandb
langchain
langchain_huggingface
langchain_community
flask_swagger_ui
pyyaml
gradio_log
tf-keras
loguru
about-time
rich
peft
trl
scipy
flask_swagger_ui
huggingface_hub[hf_xet]
apscheduler
fastapi
uvicorn
mcp
torch==2.6.0 --index-url https://download.pytorch.org/whl/cu126
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu126
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu126
git+https://github.com/facebookresearch/seamless_communication.git